/* body */
body {
    padding: 0 0 0 0rem;
    background-color: #033335;
    background: #033335  !important;
    margin: 0mm;
    color: oldlace !important;
}
/* Navigation bar */
nav {
	border-bottom: 2px solid black;
	margin-bottom: 2rem;
    background-color: #083b3e !important;
}

nav p {
	display: inline-block;
    margin-left: 2rem;
	margin-right: 2rem;
	font-weight: 800;
    color: rgb(255, 255, 255);
}

nav ul {
	float: right;
	list-style-type: none;
	padding-left: 0;
    margin: 0mm;
}

nav ul li {
	display: inline-block;
	/* margin-left: 1rem; */
    /* text-decoration-skip-ink: initial; */
}


/* About html */
.bio {
    padding: 2rem;
    text-align: center;
    color: oldlace;
    display: inline-block;

}

.bio img{
    display: inline-block;
    margin: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-radius: 2mm;
}

.food {
    border: 2rem;
    text-align: left;
}

/* Profiles */

.profiles {
	/* margin: 2rem 0 2rem 0; */
	display: inline;
    place-items: right;
	align-items: center;
}
.profiles i {
	margin: 0 0.5rem;
    place-items: right
}
.profiles a {
	text-decoration: none;
	color: white;
    place-items: right
}

.blog {
    margin: 2em;
}

.blog ul a{
    list-style-type: none;
    text-decoration: none;
}

.blog-post {
	margin-bottom: 1rem;
    margin-right: 2em;
    margin-left: 0em;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-decoration: none;
	border-radius: 10px;
	background-color: rgb(189, 242, 255);
	border: 1px solid rgba(1, 1, 1, 0.1);
}

.blog-post .blog-date{
    display: inline;
    place-items: right;
    float: right;
    margin-top: 2rem;
}

.blog-post .blog-name {
    display: inline;
    text-decoration: none;
	margin: 0;
	font-size: 1.5rem;
    font-style: italic; 
}

.autobio{
    text-align: left;
    display: inline-block;
    color: black;
    border:1px solid rgba(1, 1, 1, 0.1);;
    border-radius: 0.5rem;
    background: rgb(189, 242, 255);
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.wrapper{
    margin: 2rem;
}


/* Projects page */
.project {
	margin: 1rem;
    padding: 1.5rem;
    /* border:1px solid rgb(0, 54, 38);; */
    border-radius: 0.5rem;
    background: rgb(189, 242, 255);
    /* width: 25rem; */
    /* height: 15rem;  */
    /* display: inline-flex; */
    /* width: 40rem; */
    /* height: 20rem; */
    /* max-height: 25rem; */
    /* mar */
    text-align: left;
    align-items: center;
}
.project h3{
    /* margin: 2rem; */
    font-size: 20px;
    color: rgb(24, 0, 158);
    display: inline-block;
    text-align: center;
}
.project .description {
	margin: 0.5rem;
    color: black;
    /* display: inline-block; */
}
.project .language {
	margin: 0;
	font-size: 0.8rem;
	font-style: italic;
    color: black;
    
    /* display: inline-block; */
}
.project img {
	margin: 1.5rem 0 1rem 0;
    display: inline-block;
}
.project_wrapper{
    text-align: center;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
}

/* Contact page */
.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact form {
	width: 100%;
	max-width: 30rem;
	border-radius: 10px;
	background-color:rgb(189, 242, 255);
	border: 1px solid rgba(1, 1, 1, 0.1);
	padding: 1.5rem;
}

.contact form > .field:not(:first-child) {
	margin-top: 1.5rem;
}

.contact form > .field input,
.contact form > .field textarea,
.contact form > input[type="submit"] {
	padding: 0.5rem;
    background-color:rgb(227, 249, 255);
	width: 100%;
}

.contact form > .field textarea {
	resize: vertical;
}

.login_btn{
    margin: 1rem;
}