<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>{{title}}</title>
        <meta name="author" content="{{ name }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="description" content="Description of your website" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    {% endblock %}

    <body class="$gray-100;">
        <!-- <nav>
            <p>{{ Myname }}</p>
            <ul>
                <li>
                <a href="/">About</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </nav> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">{{Myname}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact" >Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        {% block content %}{% endblock %}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <div class="profiles">
			<div>
				<a href="https://github.com">
					<i class="fab fa-2x fa-github"></i>
				</a>
				<a href="https://twitter.com">
					<i class="fab fa-2x fa-twitter"></i>
				</a>
				<a href="https://instagram.com">
					<i class="fab fa-2x fa-instagram"></i>
				</a>
			</div>
		</div>
    </body>

</html>
